* {
    font-family: "Do Hyeon", sans-serif;
}

body {
    background-color: white;
    color: black;
    margin: 20px 25px;
}

.header {
    background-color: #b1ceff;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logsignin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logsignin > div > a {
    color: var(--light);
    width: 100px;
    font-weight: normal;
    text-decoration: none;
    border: 0;
    margin: 0 5px;
    font-size: 1.3em;
}

.logsignin > div > a:hover {
    color: var(--dark);
    font-weight: bold;
    width: 100px;
    text-decoration: none;
    border: 0;
    margin: 0 5px;
    font-size: 1.3em;
}

header > .logout > a{
    color: var(--light);
    width: 100px;
    font-weight: normal;
    text-decoration: none;
    border: 0;
    margin: 0 5px;
    font-size: 1.3em;
}

header > .logout > a:hover {
    color: var(--dark);
    font-weight: bold;
    width: 100px;
    text-decoration: none;
    border: 0;
    margin: 0 5px;
    font-size: 1.3em;
}

.container {
    margin-top: 1em;
    border-style: dashed;
    border-width: 3px;
    border-radius: 8px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: 200px;
    grid-gap: 15px;
    align-items: stretch;
    justify-content: space-between;
}

.memo {
    overflow: hidden;
    background-color: #ffc3cc;
    padding: 5px 8px;
    cursor: pointer;
}

.signin {
    margin-top: 1em;
    border-style: dashed;
    border-width: 3px;
    border-radius: 8px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8ffd9;
    font-size: 1.2em;
}

.login {
    margin-top: 1em;
    border-style: dashed;
    border-width: 3px;
    border-radius: 8px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9ffdb;
    font-size: 1.2em;
}

.signin-form > table > tbody > tr, .login-form > table > tbody > tr {
    height: 40px;
}

.signin-form > table > tbody > tr > td, .login-form > table > tbody > tr > td {
    padding: 0px 15px;
}

.signin-form > table > tbody > tr > td > input, .login-form > table > tbody > tr > td > input {
    height: 20px;
    width: 200px;
}

.signin-form > table > tbody > tr > td > button, .login-form > table > tbody > tr > td > button{
    background-color: white;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    height: 2em;
    width: 5em;
    margin: 15px 0;
}

.beforeadd {
    display: block;
}

.afteradd {
    display: none;
}

.addmemo{
    margin-top: 1em;
    border-style: dashed;
    border-width: 3px;
    border-radius: 8px;
    padding: 1em;
    background-color: #fff4ff;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addmemo > form > div {
    margin: 10px;
}

.addmemo > form > div > input {
    height: 1.5em;
    width: 400px;
    font-size: 1em;
    margin: 10px 0;
}

.addmemo > form > div > textarea {
    height: 400px;
    width: 400px;
    font-size: 1em;
    margin: 10px 0;
}

.addmemo > form > div > button {
    background-color: white;
    margin: 0 10px;
    border: 2px solid black;
    padding: 4px 20px;
    font-size: 0.9em;
}

.erroradd {
    color: red;
}

.back {
    background-color: white;
    margin: 10px;
    border: 2px solid red;
    padding: 4px 20px;
    font-size: 0.9em;
    cursor: pointer;
}

.showmemo > .Amemo {
    margin-top: 1em;
    border-style: dashed;
    border-width: 3px;
    border-radius: 8px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe7d9;
    font-size: 1.2em;
}

.showmemo {
    display: none;
}

.close {
    background-color: white;
    margin: 10px;
    border: 2px solid black;
    padding: 4px 20px;
    font-size: 0.9em;
    cursor: pointer;
}

#memodetail > #upper {
    font-size: 1.3em;
    font-weight: bold;
}

#memodetail > #lower {
    font-size: 1em;
}